<!DOCTYPE html>
<html>
<head>
	<title> Login Page </title>
	<% include layout/scripts.ejs %>
</head>

<body>
<% include layout/header.ejs %>

<section>
	<div> All your content will live in this section</div>
</section>

<% include layout/footer.ejs %>
</body>
</html>